* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    height: 100%;
    background: rgb(4,19,64);
    background: linear-gradient(90deg, rgba(4,19,64,1) 0%, rgba(5,110,194,1) 100%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Adding transparency for better readability */
    padding: 30px;
    border-radius: 10px;
  }

  a {
    color: #23dcf9;
  }
  
  h1 {
    color: #23dcf9;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 40px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  input, textarea {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #def2ff;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1ca3f7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1ca3f7;
  }
  